/* Class for hiding sections not in use */
body {
    width: 80%;
    margin: 50px auto;
}

.hide {
    display: none;
}

#question li {
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    width: 100%;
    background-color: purple;
    color: #fff;
    transition: background-color 0.5s;
    cursor: pointer;
}

#question li:hover {
    background-color: rgb(223, 111, 223);
}